{% extends 'base.html.twig' %}
{% block title %}
     Bloggy | Create
{% endblock %}

{% block stylesheets %}
 {{ parent() }}
   <style>
    .bouton-add {
        display: block;
        width: 150px; 
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left:100px;
        background-color: #3642dd;
        color: white;
        padding: 8px 10px;
        text-decoration: none;
        border-radius: 20px;
        transition: background-color 0.3s ease; 
        border: none; 
        cursor: pointer;
    }

    .bouton-add:hover {
        background-color: #1877f2; 
    }

    .text-field {
        border: 1px solid #ccc;
        padding: 4px;
        border-radius: 8px;
        height: 30px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }
       .text-area {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        margin-left: 20px;
        width: 550px;
        height: 50px; 
        resize: vertical; 
    }
    .error {
            color: red;
            font-size: 14px;
        }
</style> 
{% endblock %}
{% block content %}
<h1 style="text-align: center; margin-top: 20px; color: #3642dd; padding-top:10px"> Create Article</h1>
<form style="margin-top: 20px; margin-left: 20px; text-align: center;"method="post" action="{{ path('create_article') }}"  novalidate>
                {{ form_start(form) }}
                
                <div>
                    {{ form_label(form.Titre) }}
                    {{ form_widget(form.Titre, {'attr': {'class': 'text-field', 'style': 'margin-left: 15px;  width: 300px; height: 40px;'}}) }}
                 
                 <div class="error">
                    {{ form_errors(form.Titre, {'attr': {'class': 'error'}}) }}
                    </div>
                 </div>

                <div>
                    {{ form_label(form.Contenu) }}
                    {{ form_widget(form.Contenu, {'attr': {'class': 'text-field', 'style': 'margin-left: 15px;  width: 300px; height: 40px;'}}) }}
                    <div class="error">
                    {{ form_errors(form.Contenu, {'attr': {'class': 'error'}}) }}
                    </div>
                </div>            
                
                <div class="boutons-container" style="display: flex; margin-top: 20px; text-align: center; margin-left: 180px;">
                    <button type="submit" class="bouton-add">Ajouter</button>
                    <button id="btnAnnuler" class="bouton-add" style="margin-left: 50px;" type="button" onclick="window.location.href='{{ path('articles') }}'">Annuler</button>
                </div>        
                
                {{ form_end(form) }}
</form>

{% endblock %}
